
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Car Store</title>
    <style>
       </style>
</head>
<body style="background-image: url('static/images/Car1.jpg'); background-size: cover; background-position: center; height: 100vh; margin: 0;">
    <h1>User Cart</h1>
      
    </body>
   
    
    </script>
</body>
</html>
